* {
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background: rgb(18, 21, 27);
  display: grid;
  width: 100%;
}

h2,
h3 {
  color: white;
}

p {
  color: darkgrey;
  font-size: 0.8rem;
}

a {
  text-decoration: none;
  color: rgba(155, 153, 153, 0.7);
}

li {
  list-style: none;
  padding: 1px;
  font-size: 0.8rem;
  color: rgba(169, 169, 169, 0.5);
}

header {
  height: 80px;
  background: rgba(12, 15, 21, 0.6);
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
}

header a button {
  margin-top: 20px;
  margin-right: 20px;
  background: none;
  border: 2px solid lightgrey;
  border-radius: 80px;
  color: lightgray;
  font-size: 0.7rem;
}

header a button:hover {
  color: white;
  font-weight: bold;
  transition: 1s;
}

#logo {
  display: grid;
  place-items: center;
  width: 180px;
  background: black;
}

main {
  display: grid;
  grid-template-columns: 180px 1fr;
}

aside {
  background: black;
  padding-left: 20px;
  position: sticky;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.menu-item {
  display: flex;
  place-items: center;
  padding-bottom: 10px;
}

.menu-item a {
  display: inline;
  padding-left: 10px;
  transition: 1.2s;
}

#aside-menu {
  padding-bottom: 20px;
}

#playlist h2 {
  font-size: 0.8rem;
  padding-bottom: 20px;
}

#create-playlist a {
  font-size: 1rem;
  padding-left: 10px;
  transition: 1.2s;
}

#create-playlist {
  display: flex;
  place-items: center;
  padding-bottom: 20px;
}

#create-playlist :hover {
  color: white;
}

#user-playlists ul {
  padding-left: 0px;
}

#user-playlists li a:hover {
  color: white;
}

#download {
  padding-bottom: 10px;
  margin-right: 20px;
  border-bottom: 1px solid rgba(169, 169, 169, 0.5);
}

#download a {
  text-decoration: none;
  display: flex;
  vertical-align: center;
}

#download p {
  display: inline;
  padding-left: 10px;
}

#profile a {
  text-decoration: none;
  display: flex;
  place-items: center;
}

#profile {
  padding-top: 10px;
}

#profile h2 {
  display: inline;
  padding-left: 10px;
  font-size: 0.8rem;
}

#profile > a > img {
  padding: 1px;
  background: gray;
  border-radius: 50%;
}

#aside-bottom {
  padding-bottom: 10px;
}

#main-page {
  display: grid;
  grid-template-rows: 60px repeat(3, minmax(200px, max-content));
}

#category {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

#category-menu {
  display: flex;
  margin: auto;
}

select {
  background: none;
  color: lightgray;
  border: 2px solid rgba(211, 211, 211, 0.5);
  padding: 10px 20px 10px 10px;
}

option {
  color: black;
}

#category-menu ul a {
  text-decoration: none;
}

#category-menu ul li {
  display: inline;
  padding: 10px 10px;
}

#category-menu ul a li:hover {
  color: white;
  border-bottom: 1px solid rgb(133, 247, 18);
  transition: 1.0s;
}

#recent h2 {
  padding-left: 20px;
}

#recent-albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  margin: 1rem 0rem;
}

.albums {
  text-align: center;
  margin-bottom: 2rem;
}

.albums img:hover {
  opacity: 0.4;
  transition: 0.6s;
}

#recent-albums h3 {
  width: 20ch;
  font-size: 0.85rem;
  padding-left: 40px;
}

#suggestions h2 {
  padding-left: 20px;
}

#suggestions > p {
  padding: 10px 0px 20px 20px;
}

#suggested-albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  place-content: center start;
  margin-bottom: 2rem;
}

#suggested-albums h3 {
  font-size: 0.85rem;
  text-align: center;
  margin-top: 1rem;
}

#popular-artists h2 {
  padding-left: 20px;
}

#popular-artists > p {
  padding: 10px 0px 20px 20px;
}

#suggested-artists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, max-content));
  place-items: center;
}

.artists-circles img {
  border-radius: 50%;
}

.artists-circles img:hover {
  opacity: 0.4;
  transition: 0.6s;
}

.artists-circles h3 {
  font-size: 0.85rem;
  text-align: center;
  padding: 8px 0px;
}

.artists-circles p {
  text-align: center;
}

footer {
  display: grid;
  grid-template-columns: minmax(180px, max-content) 1fr minmax(
      200px,
      max-content
    );
  height: 80px;
  background: rgb(19, 19, 18);
  position: sticky;
}

#footer-left {
  display: grid;
  grid-template-columns: max-content 1fr max-content;
}

#footer-left h3 {
  font-size: 0.75rem;
}

#footer-left p {
  font-size: 0.6rem;
}

#song-image {
  display: grid;
  place-items: center;
  margin-left: 5px;
}

#current-song {
  margin-left: 5px;
  margin-top: auto;
  margin-bottom: auto;
}

#left-icons {
  display: flex;
  justify-items: center;
  align-items: center;
}

#left-icons a {
  padding: 5px;
  filter: invert(99%) sepia(80%) saturate(0%) hue-rotate(159deg)
    brightness(130%) contrast(106%);
}

#footer-middle {
  display: flex;
  place-items: center;
  justify-content: center;
}

#footer-middle img {
  margin: 20px;
  filter: invert(99%) sepia(80%) saturate(0%) hue-rotate(159deg)
    brightness(130%) contrast(106%);
}

#footer-right {
  display: flex;
  justify-content: space-evenly;
  place-items: center;
  filter: invert(99%) sepia(80%) saturate(0%) hue-rotate(159deg)
    brightness(130%) contrast(106%);
  padding-right: 120px;
  margin: -30px;
}

@media screen and (max-width: 905px) {
  #genres {
    display: flex;
    margin: auto;
  }

  #category-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #upgrade-button {
    display: flex;
    justify-content: center;
  }

}

@media screen and (max-width: 780px) {
  #main-page {
    margin: auto;
  }

  #recent {
    display: grid;
    place-items: center;
    padding-right: 170px;
  }

  #recent h2 {
    padding-left: 0;
    text-align: center;
  }

  #suggestions h2 {
    padding-left: 0;
    text-align: center;
  }

  #popular-artists h2 {
    padding-left: 0;
    text-align: center;
  }

  #suggestions p {
    padding: 1rem;
    text-align: center;
  }

  #popular-artists p {
    padding: 1rem;
    text-align: center;
  }

  #logo {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 5rem;
    background: black;
    padding-left: 80px;
  }


}

@media screen and (max-width: 690px) {
  #footer-middle img {
    margin: 0px 10px;
  }

  #left-icons {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
    margin-right: 5px;
  }

  #current-song {
    display: flex;
    flex-direction: column;
  }

  #footer-left {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
  }

  #footer-left h3 {
    text-align: center;
  }

  #footer-left p {
    text-align: center;
  }

  #logo {
    display: flex;
    place-items: center;
    justify-content: center;
    width: 5rem;
    background: black;
  }

  
  main {
    display: grid;
    grid-template-columns: 5rem 1fr;
  }

  #profile h2,
  #download p,
  .logo-main,
  .menu-item a,
  #playlist h2,
  #user-playlists ul,
  #create-playlist {
    display: none;
  }

  .menu-item img {
    display: flex;
    place-items: center;
  }

  #footer-left {
    display: grid;
    grid-template-columns: max-content 80px max-content;
  }

  aside {
    height: calc(100vh - 160px);
    background: black;
    position: sticky;
    top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
  }
}
